Package: com.withertech.filzamt
Name: Filza Matrix Theme
Author: WitherTech
Description: Black and green theme for Filza
Depends: mobilesubstrate
Maintainer: WitherTech
Depiction: http://repo.withertech.com/depictions/?p=com.withertech.filzamt
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.2-1+debug

