Package: com.withertech.filzatm
Name: Filza Theme Manager
Author: WitherTech
Description: Theme Manager for Filza
Depends: mobilesubstrate
Maintainer: WitherTech
Depiction: http://repo.withertech.com/depictions/?p=com.withertech.filzatm
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.5

