<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Red</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>34</string>
			<key>defaults</key>
			<string>com.withertech.filzatmprefs</string>
			<key>key</key>
			<string>SecondaryColorRed</string>
			<key>max</key>
			<integer>255</integer>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Green</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>34</string>
			<key>defaults</key>
			<string>com.withertech.filzatmprefs</string>
			<key>key</key>
			<string>SecondaryColorGreen</string>
			<key>max</key>
			<integer>255</integer>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Blue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>34</string>
			<key>defaults</key>
			<string>com.withertech.filzatmprefs</string>
			<key>key</key>
			<string>SecondaryColorBlue</string>
			<key>max</key>
			<integer>255</integer>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Alpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>255</string>
			<key>defaults</key>
			<string>com.withertech.filzatmprefs</string>
			<key>key</key>
			<string>SecondaryColorAlpha</string>
			<key>max</key>
			<integer>255</integer>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>Filza Theme Manager Secondary Color</string>
</dict>
</plist>
